@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CampusConnect.Models.Models.ViewModels.RegisterViewModel
<h1>Signup</h1>
<div class="container border border-primary">
    <form method="post" asp-action="Register">
    <div class="form-group">
       <label asp-for="Name">Name</label>
       <input type="text" asp-for="Name" value="" />
    </div>
    <div>
        <label asp-for="Email">emailId</label>
        <input type="text" asp-for="Email" value="" />
    </div>
    <div>
        <label asp-for="Phone">mobile no.</label>
        <input type="tel" asp-for="Phone" value="" />
    </div>
    <div>
        <label asp-for="UserType">Type of user:</label>
        <select asp-for="UserType" id="userType">
            <option value="Select">Select</option>
            <option value="Admin">Admin</option>
            <option value="Operator">Operator</option>
            <option value="Student">Student</option>
            <option value="Factulty">Factulty</option>
        </select>
        <br><br>
    </div>
    <div>
        <label asp-for="Password">password</label>
        <input type="password" asp-for="Password" value="" />
    </div>
    <div>
            <label asp-for="ConfirmPassword">confirm password</label>
            <input type="password" asp-for="ConfirmPassword" value="" />
    </div>

    <div>
        <button type="submit" class="btn btn-success">Sign Up</button>
    </div>
    </form>
</div>
