@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Signup</h1>
<div>
    <div>
       <label>name</label>
       <input type="text" name="name" value="" />
    </div>
    <div>
        <label>emailId</label>
        <input type="text" name="emailId" value="" />
    </div>
    <div>
        <label>mobile no.</label>
        <input type="number" name="mobile no." value="" />
    </div>
    <div>
        <label for="userType">Type of user:</label>
        <select name="userType" id="userType">
            <option value="Select">Select</option>
            <option value="Admin">Admin</option>
            <option value="Operator">Operator</option>
            <option value="Student">Student</option>
            <option value="Factulty">Factulty</option>
        </select>
        <br><br>
    </div>
    <div>
        <label>password</label>
        <input type="password" name="password" value="" />
    </div>
    <div>
        <label>confirm password</label>
        <input type="confirm password" name="confirm password" value="" />
    </div>
</div>
