@model CampusConnect.Models.Models.ViewModels.RegisterViewModel

<h1>Signup</h1>
<div class="container border border-primary">
    <form method="post" asp-action="Register">
        <div class="row form-group">
            <div class="col-md-6">
            <label asp-for="Name">Name</label>
            <input type="text" asp-for="Name" placeholder="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div>
            <label asp-for="Email">Email</label>
            <input type="email" asp-for="Email" placeholder="Email address" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Phone">Mobile no.</label>
            <input type="tel" asp-for="Phone" placeholder="Mobile number" />
        </div>
        <div>
            <label asp-for="UserType">Type of user:</label>
            <select asp-for="UserType" id="userType">
                <option value="">Select</option>
                <option value="Admin">Admin</option>
                <option value="Operator">Operator</option>
                <option value="Student">Student</option>
                <option value="Factulty">Factulty</option>
            </select>
            <span asp-validation-for="UserType" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="Password">Password</label>
                <input type="password" asp-for="Password" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="ConfirmPassword">Confirm password</label>
                <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-success">Sign Up</button>
        </div>
    </form>
</div>
