.floating-field {
  margin: 20px 0px;
}

.floatingInput-group {
  position: relative;
}

.floatingInput-field {
  width: 100%;
  padding: 16px 10px;
  font-size: 18px;
  line-height: 1.2;
}

.floatingInput-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  transition: 0.3s ease;
  pointer-events: none;
  padding: 0 5px;
  color: grey;
  line-height: 1;

}

.floatingInput-group .floatingInput-field:focus + .floatingInput-label,
.floatingInput-group .floatingInput-field:not(:placeholder-shown) + .floatingInput-label,
.floatingInput-field {
  top: 0px;
  font-size: 14px;
}

.error-text {
  color: #B00020;
}